IA-ML/N8N/workflows/Evento-google-calendar.json
{
  "name": "Evento-google-calendar",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -240,
        16
      ],
      "id": "72f30ea1-ca88-4a27-ad30-795df64f41a1",
      "name": "When chat message received",
      "webhookId": "b5209d75-8b94-416c-acd5-d4013670b255"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -32,
        16
      ],
      "id": "88c6a125-49c1-48bb-b77d-a9c2fd2949c6",
      "name": "AI Agent",
      "notesInFlow": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -64,
        208
      ],
      "id": "1ff0129b-ebfe-45c6-9c13-c9eca269f269",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rnm4aq8b3N7ZxEgf",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        64,
        240
      ],
      "id": "9688cadf-f87f-46cc-87f3-555285e893fb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "jlbisconti@gmail.com",
          "mode": "list",
          "cachedResultName": "jlbisconti@gmail.com"
        },
        "start": "={{$json.start}}",
        "end": "={{$json.end}}",
        "additionalFields": {
          "showMeAs": "transparent",
          "summary": "={{$json.summary}}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        560,
        16
      ],
      "id": "7d221278-8b96-434a-8cd8-e6597989e4f0",
      "name": "Create an event",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1XinJzBLk4aHIbZr",
          "name": "Google Calendar OAuth2 API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const raw = item.json.output ?? \"\";\n\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n\n  if (!match) {\n    throw new Error(\"No JSON found in AI response: \" + raw);\n  }\n\n  const parsed = JSON.parse(match[0]);\n\n  return {\n    json: {\n      summary: parsed.summary,\n      start: new Date(parsed.start).toISOString(),\n      end: new Date(parsed.end).toISOString()\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        16
      ],
      "id": "a7432b2b-e586-442c-8caa-3bc153787e57",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c96b55de-974d-4d09-9fb1-105376f64a12",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "803b224bbeeaee5b762fa9ad11a396c72679010e6cdb1adbff225ce0c4f75cd5"
  },
  "id": "3XXZb6bZ34255GMO",
  "tags": []
}