IA-ML/N8N/workflows/test-gmail.json
{
  "name": "test-gmail",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "89282a10-4197-42cb-b22f-f97f50fa7133",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        352,
        176
      ],
      "id": "adee0ccb-bc3a-4e39-9cba-a60ce1d6cf12",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rnm4aq8b3N7ZxEgf",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        464,
        160
      ],
      "id": "1d3f2cce-86e3-40a2-a881-ee565eac323e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "jlbisconti@gmail.com",
        "subject": "=  {{$json.chatInput}}",
        "message": "{{$json.chatInput}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        768,
        16
      ],
      "id": "047d5f7a-092b-4ac1-b690-123938d7e1a5",
      "name": "Send a message",
      "webhookId": "8d5f9a3e-4b06-4e99-9a39-368ddb2987dd",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "1d8HK0pPucwwbQ6t",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        64,
        0
      ],
      "id": "cde7656e-7347-4b8f-8eba-b27ecf51f94f",
      "name": "When chat message received",
      "webhookId": "77294bd0-c1d2-4617-979a-051f75871f1f"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "300c3e32-e11f-473f-9f03-80c4b1264eb2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "803b224bbeeaee5b762fa9ad11a396c72679010e6cdb1adbff225ce0c4f75cd5"
  },
  "id": "Tz1mW5GIcC266sXS",
  "tags": []
}